/* Bebas Neue */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Monda */
@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");

/* Works on Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: black #ca231f;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: black;
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0px;
  border: 1px solid #ca231f;
}

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
