/* Works on Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: black red;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: black;
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0px;
  border: 1px solid red;
}

body {
  margin: 0;
  font-family: 'Gill Sans',
    sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}



